// main wrapper
.wrapper {
  @apply flex flex-wrap items-center justify-center text-center  gap-5 mt-[40px] pb-[180px];
  @include  r-laptop{
    @apply items-stretch w-full;
    flex-wrap: nowrap;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }
}
// header
header {
  @apply flex justify-between items-center text-default-text px-[25px] py-[15px];

  .logo-holder {
    @apply w-[45px] h-[45px] object-contain m-[15px];
  }

  .wallet-key-display {
    @apply cursor-pointer rounded-[2px] border border-glass-purple bg-glass-purple text-glass-white text-right text-[14px] font-normal uppercase tracking-[0.07px] flex items-center justify-between gap-3 p-[12px];
    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 120px;
      @include r-plus{
        @apply max-w-full;
      }
    }
  }
}
//FOOTER
footer {
  @apply fixed bottom-0 left-0 right-0;
  @apply px-[25px] pb-[40px];
  .footer-id {
    @apply w-max ml-auto flex items-center gap-[9px];
    span {
      @apply text-max-blue-purple text-center text-[12px] uppercase font-normal;
    }
  }
}





